/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  

}

/* General */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-nav {
  text-align: center;
  background-color: #ffffff !important; /* Asegura que el fondo sea blanco */
  
}

.nav-link {
  padding: 0 15px; /* Ajusta el espacio entre los enlaces */
  color: #333 !important; /* Asegura que los enlaces sean visibles sobre el fondo blanco */
}

.nav-link:hover {
  color: #007bff !important; /* Cambia el color al pasar el mouse (opcional) */
}


.logo-img {
  max-height: 50px; /* Ajusta este tamaño según lo que se vea mejor */
  max-width: auto;
}


/* Sección Inicio */
.hero-section {
  background-image: url('../img/inicio.png'); /* Ruta de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la sección */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex; /* Para centrar contenido */
  justify-content: center;
  align-items: center;
}

/* Ajuste del texto */
.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff; /* Texto blanco */
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra sutil */
}


/* Estilo general */
#asesoramiento img {
  max-width: 100%; /* Imágenes responsivas */
  height: auto; /* Mantener proporción */
  margin-bottom: 15px; /* Separación entre elementos */
}




/* Estilo para el título principal (h2) más pequeño */
.title-sm {
  font-size: 1.8rem; /* Reducido */
  font-weight: bold; /* Negrita */
  color: black; /* Color del texto */
  margin-bottom: 10px; /* Separación con el subtítulo */
  line-height: 1.6; /* Espaciado entre líneas */
}

/* Estilo para el subtítulo (p) más grande */
.subtitle-lg {
  font-size: 3rem!important; /* Más grande que el título */
  font-weight: bold; /* Negrita */
  color: black; /* Color del texto */
  margin-bottom: 20px; /* Separación con el contenido principal */
}




/* Botón Solicitar Presupuesto */
.solicitar-presupuesto-btn {
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 15px;
  padding: 20px 0;
  background-color: #3eb2ae;
  color: #fff;
  border: none;
  text-align: center;
}

.solicitar-presupuesto-btn:hover {
  background-color: #3eb2ae;
}

/* Botón Enviar en el Formulario */
.btn-form {
  background-color: #3eb2ae;
  border-color: #3eb2ae;
  border-radius: 0; /* Bordes cuadrados */
}

/* Secciones */
section {
  padding: 60px 0;
  margin-top: 10px;
}

/* General */
.card {
  border: none;
  margin-bottom: 20px;
}

/* Imagen de la card */
.card-img-container {
  position: relative;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0; /* Bordes cuadrados */
}



.card-name {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra sutil */
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Título y texto */
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.card-text {
  font-size: 1rem;
  text-align: left;
  color: #555;
}





.form-label {
  font-weight: bold;
}

.form-control, 
.form-select {
  font-size: 16px;
}

.form-check-label {
  font-size: 14px;
}

/* Footer */
footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 20px;
}


