/* Cargar la fuente Century Gothic */
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Century Gothic bold';
  src: url('../fonts/GOTHICB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* ITC Avant Garde Pro Bold */
@font-face {
  font-family: 'ITCAvantGardeProBold';
  src: url('../fonts/ITCAvantGardePro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}





/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegurar que el off-canvas se vea bien */
.offcanvas {
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff;
}

.offcanvas-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Ajustar el tamaño del logo en el off-canvas */
.offcanvas .logo-img,
.offcanvas .logo-img-right {
  max-height: 40px;
  width: auto;
}


.nav-link-custom {
  color: #333 !important;
  padding: 10px 0;
}

.nav-link-custom:hover {
  color: #007bff !important;
}

/* Ajustar interlineado del menú en el off-canvas */
.offcanvas-body .nav-link {
  line-height: 1; /* Aumenta el interlineado */
  padding: 10px 0;
  color: #333;
  font-family: 'Century Gothic';
  font-size: 16px;
  font-weight: bold;
}

.offcanvas-body .nav-link:hover {
  color: #007bff;
}

/* Navbar */


.navbar-nav {

  background-color: #ffffff !important;
}

.nav-link {
  padding: 0 15px;
  color: #333 !important;
}

.nav-link:hover {
  color: #007bff !important;
}

/* Estilo general para los logos */
.logo-img,
.logo-img-right {
  max-height: 50px;
  width: auto;
}

/* Alinear el segundo logo a la derecha */
.navbar .logo-img-right {
  max-height: 40px; /* Ajusta el tamaño según lo necesario */
  margin-left: 10px;
}


.nav-link-custom {
  font-family: 'Century Gothic bold';
  font-size: 12px;
  font-weight: bold;
}
/* Logos en pantallas pequeñas */
@media (max-width: 991.98px) {
  .navbar .logo-img,
  .navbar .logo-img-right {
    max-height: 40px;
    width: auto;
  }

  /* Alinear ambos logos a la izquierda con espaciado */
  .navbar .logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre los logos */
  }
}

/* Estilo para limitar el ancho del navbar en pantallas grandes */
@media (min-width: 992px) {
  .navbar-container {
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


/* Sección Inicio */
.hero-section {
  background-image: url('../img/PRINCIPAL.png');
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* Ancho completo */
  height: 650px; /* Altura fija en pantallas grandes */
  max-width: 1050px; /* Máximo ancho */
  margin: 0 auto; /* Centrar la sección en pantallas grandes */
  position: relative; /* Necesario para posicionar contenido dentro */
}

.hero-content {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right; /* Asegura la alineación a la derecha */
}

.text-container {
  max-width:400px; /* Ancho fijo del contenedor */
}

.text-container p {
  font-family: 'Century Gothic';
  font-size: 43px; /* Tamaño del texto */
  font-weight: bold;
  color: white;
  line-height: 1; /* Espaciado entre líneas */
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra del texto */
  
}

/* espaciado individual para cada línea */
.line-1 {
  letter-spacing: 0.05em; /* Espaciado entre letras */
}

.line-2 {
  letter-spacing: 0.09em; /* Espaciado entre letras */
}

.line-3 {
  letter-spacing: 0.02em; /* Espaciado entre letras */
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  .text-container {
    width: auto;
  }

  .text-container p {
    font-size: 30px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }
}




/* Estilo general */
#asesoramiento img,
#colores img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* Estilo para los títulos */
.title-sm {
  font-family: 'Century Gothic bold';
  font-size: 25px;
  font-weight: bold;
}

.subtitle-lg {
  font-family: 'Century Gothic bold';
  font-size: 44px;
  font-weight: bold;
}

/* Botón Solicitar Presupuesto */
.solicitar-presupuesto-btn {
  font-family: 'ITCAvantGardeProBold';
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 2px; /* Espaciado entre letras */
  border-radius: 15px; /* Borde cuadrado */
  width: 100%; /* Ancho completo */
  height: 45px;
  background-color: #3eb2ae;
  color: #fff;
  border: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

}

.solicitar-presupuesto-btn:hover {
  background-color: #3eb2ae;
}

/* Limitar el ancho máximo solo en pantallas grandes */
@media (min-width: 992px) {
  .solicitar-presupuesto-btn {
    max-width: 975px;
  }
}

/* Botón Enviar en el Formulario */
.btn-form {
  background-color: #3eb2ae;
  border-color: #3eb2ae;
  border-radius: 0;
  height: 45px;
  font-size: 21px;

}

#contacto {
  min-height: 100vh; /* Ocupa el 100% del alto de la ventana */
  display: flex; /* Opcional: Asegura que el contenido esté centrado si lo necesitas */
  flex-direction: column;
  justify-content: center;
}

/* Secciones */
section .container {
  max-width: 1000px;
  margin: 0 auto;
}


/* General para cards */
.card {
  border: none;
  margin-bottom: 20px;
}

.card-img-container {
  position: relative;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0px;
}

.card-title {
  font-family: 'Century Gothic bold';
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.card-text {
  font-family: 'Century Gothic', sans-serif;
  font-size: 17px;
  text-align: left;
  color: #555;
}

/* Cards de la sección "DESCUBRÍ LOS COLORES" */
#colores .card {
  background-color: transparent;
  border: none;
}

/* Formulario */
.form-label {
  font-weight: bold;
  text-transform: uppercase;
}

.form-control,
.form-select {
  font-size: 16px;
  border-radius: 0; /* Borde cuadrado */
}

.form-check-input {
  border-radius: 0; /* Borde cuadrado para los checkboxes */
}

.btn-form {
  background-color: #3eb2ae;
  border-color: #3eb2ae;
  border-radius: 0; /* Borde cuadrado para el botón */
}

.form-check-label {
  font-size: 14px;
}

/* Información adicional */
.info-adicional {
  text-align: left;
  line-height: 1.8;
  font-family: 'Century Gothic', sans-serif;
  font-size: 14px;
  font-weight: bold;
}


/* Footer */
footer {
  background-color: #000; /* Fondo negro */
  color: white; /* Texto blanco */
  text-align: center; /* Centrar texto */
  padding: 20px 20px 40px; /* Aumentar padding inferior para empujar los elementos */
  position: relative; /* Para usar control relativo */
}

footer p {
  margin-bottom: 5px; /* Separar texto de los íconos */
  padding-top: 30px;
}

.social-icons {
  margin-top: 0px !important; /* Aumentar separación superior para que estén más abajo */
  padding-bottom: 20px;
}

.social-icon {
  width: 25px; /* Tamaño de los íconos */
  height: 25px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2); /* Efecto de zoom en hover */
}

.social-icons a {
  margin-right: 5px; /* Ajusta el espaciado entre íconos */
}

.social-icons a:last-child {
  margin-right: 0; /* Asegúrate de que el último ícono no tenga margen extra */
}

.social-icon {
  width: 30px; /* Ajusta el tamaño del ícono si es necesario */
  height: auto;
}





#faq.py-5 {
  padding-top: 0 !important; /* Elimina el padding superior */
}

.faq-header {
  height: 103px; /* Altura fija */
  display: flex; /* Para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  background-color: transparent; /* Opcional: color de fondo */
  margin-bottom: 20px; /* Espaciado con el contenido debajo */
}

.faq-header h2 {
  font-size: 24px; /* Tamaño de fuente */
  margin: 0; /* Eliminar márgenes */
}


/* Estilos para el acordeón (Preguntas frecuentes) */
.accordion-button {
  background-color: white !important; /* Fondo blanco */
  color: black !important; /* Texto negro */
  font-family: 'Century Gothic', sans-serif;
  font-size: 15px;
  border: 1px solid #333 !important; /* Borde visible */
  box-shadow: none !important; /* Eliminar sombreado */
  border-radius: 0 !important; /* Borde cuadrado */
  padding: 10px 15px; /* Ajuste de padding */

  max-width: 520px; /* Ancho máximo */
  height: 103px; /* Altura fija */
  text-align: center; /* Centrar texto */
   outline: none; /* Eliminar la línea de contorno */
}

/* Eliminar el contorno al enfocar */
.accordion-button:focus {
  outline: none; /* Eliminar contorno al hacer foco */
}

.accordion-button:not(.collapsed) {
  background-color: white !important; /* Fondo blanco cuando está expandido */
  color: black !important;
  border: 1px solid #333 !important; /* Borde visible */
  border-radius: 0 !important; /* Borde cuadrado */
  box-shadow: none !important;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .accordion-button {
    width: 100% !important; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
  }
}

.accordion-body {
  color: black;
  font-family: 'Century Gothic', sans-serif;
  font-size: 15px;
  font-weight: normal;
  border: 1px solid #333; /* Borde del cuerpo del acordeón */
  border-radius: 0; /* Borde cuadrado */
  padding: 15px;
}
