/* Cargar la fuente Century Gothic */
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Century Gothic bold';
  src: url('../fonts/GOTHICB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* ITC Avant Garde Pro Bold */
@font-face {
  font-family: 'ITCAvantGardeProBold';
  src: url('../fonts/ITCAvantGardePro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}





/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegurar que el off-canvas se vea bien */
.offcanvas {
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff;
}

.offcanvas-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Ajustar el tamaño del logo en el off-canvas */
.offcanvas .logo-img,
.offcanvas .logo-img-right {
  max-height: 40px;
  width: auto;
}


.nav-link-custom {
  color: #333 !important;
  padding: 10px 0;
}

.nav-link-custom:hover {
  color: #007bff !important;
}

/* Ajustar interlineado del menú en el off-canvas */
.offcanvas-body .nav-link {
  line-height: 1; /* Aumenta el interlineado */
  padding: 10px 0;
  color: #333;
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.offcanvas-body .nav-link:hover {
  color: #007bff;
}

/* Navbar */


.navbar-nav {

  background-color: #ffffff !important;
}

.nav-link {
  padding: 0 15px;
  color: #333 !important;
}

.nav-link:hover {
  color: #007bff !important;
}

/* Estilo general para los logos */
.logo-img,
.logo-img-right {
  max-height: 50px;
  width: auto;
}

/* Alinear el segundo logo a la derecha */
.navbar .logo-img-right {
  max-height: 40px; /* Ajusta el tamaño según lo necesario */
  margin-left: 10px;
}


.nav-link-custom {
  font-family: 'CenturyGothic', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
/* Logos en pantallas pequeñas */
@media (max-width: 991.98px) {
  .navbar .logo-img,
  .navbar .logo-img-right {
    max-height: 40px;
    width: auto;
  }

  /* Alinear ambos logos a la izquierda con espaciado */
  .navbar .logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre los logos */
  }
}

/* Estilo para limitar el ancho del navbar en pantallas grandes */
@media (min-width: 992px) {
  .navbar-container {
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


/* Sección Inicio */
.hero-section {
  height: 100vh;
  max-height: 650px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; 
}

.hero-image {
  max-height: 650px;
  width: 1050px !important;
  width: 100%;
  height: auto;
  border-radius: 0px; /* Opcional: redondear bordes */
}
/*
h1 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}*/


/* Estilo general */
#asesoramiento img,
#colores img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* Estilo para los títulos */
.title-sm {
  font-family: 'Century Gothic bold', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.subtitle-lg {
  font-family: 'Century Gothic bold', sans-serif;
  font-size: 47px;
  font-weight: bold;
}

/* Botón Solicitar Presupuesto */
.solicitar-presupuesto-btn {
  font-family: 'ITCAvantGardeProBold', sans-serif;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 2px; /* Espaciado entre letras */
  border-radius: 15px;
  padding: 0;
  max-width: 975px !important;
  height: 63px;
  background-color: #3eb2ae;
  color: #fff;
  border: none;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.solicitar-presupuesto-btn:hover {
  background-color: #3eb2ae;
}

/* Botón Enviar en el Formulario */
.btn-form {
  background-color: #3eb2ae;
  border-color: #3eb2ae;
  border-radius: 0;
}

/* Secciones */
section .container {
  max-width: 1000px !important;
  margin: 0 auto;
}

/* General para cards */
.card {
  border: none;
  margin-bottom: 20px;
}

.card-img-container {
  position: relative;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0px;
}

.card-title {
  font-family: 'Century Gothic bold', sans-serif;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.card-text {
  font-family: 'Century Gothic', sans-serif;
  font-size: 17px;
  text-align: left;
  color: #555;
}

/* Cards de la sección "DESCUBRÍ LOS COLORES" */
#colores .card {
  background-color: transparent;
  border: none;
}

/* Formulario */
.form-label {
  font-weight: bold;
  text-transform: uppercase;
}

.form-control,
.form-select {
  font-size: 16px;
}

.form-check-label {
  font-size: 14px;
}

/* Información adicional */
.info-adicional {
  text-align: left;
  line-height: 1.8;
  font-family: 'Century Gothic', sans-serif;
  font-size: 14px;
  font-weight: bold;
  

}

/* Footer */
footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Estilos para el acordeón (Preguntas frecuentes) */
.accordion-button {
  background-color: white !important; /* Fondo blanco */
  color: black !important; /* Texto negro */
  font-family: 'Century Gothic', sans-serif;
  font-size: 15px;
  font-weight: normal;
  border: 1px solid white !important; /* Borde blanco */
  box-shadow: none !important; /* Eliminar sombreado */
}

.accordion-button:not(.collapsed) {
  background-color: white !important; /* Fondo blanco cuando está expandido */
  color: black !important;
  border: 1px solid white !important;
  box-shadow: none !important;
}

.accordion-body {
  color: black;
  font-family: 'Century Gothic', sans-serif;
  font-size: 15px;
  font-weight: normal;
}


